/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.footer {
    background-color: #0B0C0C;
    border-top: 4px solid #00B140;
    position: relative;
    width: 100%;
    height: auto;
    padding: 4rem;
}

.footer:before {
    content: "";
    background: #00664F;
    top: -11px;
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
}

.footer:after {
    content: "";
    background: #84BD00;
    top: 5px;
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
}