main.main
  article.wrapper
    header
      h1.lbh-u-h1 Book a library room
      p.lbh-u-p.lbh-u-p--lede Use this service to book a room in a library for a meeting or an event.
      a.button(href="https://docs.google.com/forms/d/e/1FAIpQLSfr6TJo50oeOkpPmGGE6aexBRzUGQJ7Ne4Vt2Bk_wVVdrXtjA/viewform") Book a room
      table
            caption You can book rooms at:
            tbody
              tr
                th Clapton Library
                td up to 25 people
              tr
                th Shoreditch Library
                td up to 25 people
              tr
                th Dalston CLR James Library
                td up to 35 people
              tr
                th Stamford Hill Library
                td up to 80 people
              tr
                th Homerton Library
                td up to 100 people
              tr
                th Stoke Newington Library
                td up to 130 people
      p.lbh-u-p.lbh-u-p--default Rooms cost from £7.50 per hour. Anyone can use this service.
      p.lbh-u-p.lbh-u-p--small  Notes - can go to booking form or click on library name for more room info (including picture of rooms)...
    section
      div.box
        h2.lbh-u-h2 Clapton Library room
        p.lbh-u-p.lbh-u-p--default First floor room from X per hour. Available Monday to Saturday including some evenings.
        a.button(href="https://docs.google.com/forms/d/e/1FAIpQLSfr6TJo50oeOkpPmGGE6aexBRzUGQJ7Ne4Vt2Bk_wVVdrXtjA/viewform") Book a room
        //- p.lbh-u-p.lbh-u-p--small We look forward to meeting you
    //- section
    //-   div.box
    //-     h2.lbh-u-h2 Your induction
    //-     h3.lbh-u-h3 Time:
    //-     p.lbh-u-p.lbh-u-p--default 09:00am
    //-     h3.lbh-u-h3 Date:
    //-     p.lbh-u-p.lbh-u-p--default Monday, the 17th September 2018
    //-     h3.lbh-u-h3 Location:
    //-     p.lbh-u-p.lbh-u-p--default Hackney Town Hall, room 67
    //-     p.lbh-u-p.lbh-u-p--default.train Hackney Central
    //-     p.lbh-u-p.lbh-u-p--default.bus 48, 55, 106, 236, 254, 277
    //-     a.button(href="https://goo.gl/maps/QxXFLWvKcyy") Map
    //-     p.lbh-u-p.lbh-u-p--small Go to reception, they will be expecting you
    //-     p.lbh-u-p.lbh-u-p--small Who to contact: Sally 020 8324 1234
    //- section
    //-   div.box
    //-     h2.lbh-u-h2 Who you will meet after your induction
    //-     div.user
    //-       div.user-image
    //-         img(src="./assets/images/user.svg")
          
    //-       table
    //-         caption Ali Simms
    //-         tbody
    //-           tr
    //-             th Where to meet:
    //-             td Hackney Service Centre
    //-           tr
    //-             th When:
    //-             td 12:00
    //-           tr
    //-             th Contact number:
    //-             td 020 8324 1234
    //-     p.lbh-u-p.lbh-u-p--small Someone from your team will meet you after your induction.
    //-     p.lbh-u-p.lbh-u-p--small They will be around to help you on your first day.
    //- section
    //-   div.box
    //-     h2.lbh-u-h2 Your manager
    //-     div.user
    //-       div.user-image
    //-         img(src="./assets/images/user.svg")
          
    //-       table
    //-         caption Ali Simms
    //-         tbody
    //-           tr
    //-             th Contact number:
    //-             td 020 8324 1234
    //-     p.lbh-u-p.lbh-u-p--small Hope you enjoyed your induction.
    //-     p.lbh-u-p.lbh-u-p--small Here’s some more information for your first day.
    //- section
    //-   div.box
    //-     h2.lbh-u-h2 ID badge
    //-     h3.lbh-u-h3 Reference number:
    //-     p.lbh-u-p.lbh-u-p--default 2356451
    //-     p.lbh-u-p.lbh-u-p--small 
    //-       | Go to the ID unit on the Ground Floor of 
    //-       a.link(href="https://goo.gl/maps/QxXFLWvKcyy") Hackney Service Centre 
    //-       | with your reference number.
    //-     p.lbh-u-p.lbh-u-p--small Cards are issued 9:30am - 11:00am and 3pm - 4:20pm Monday to Friday.
    //-     p.lbh-u-p.lbh-u-p--small To save time, call 5511 to book an appointment.
    //- section
    //-   div.box
    //-     h2.lbh-u-h2 IT login
    //-     h3.lbh-u-h3 Username:
    //-     p.lbh-u-p.lbh-u-p--default InitialSurname
    //-     h3.lbh-u-h3 Password:
    //-     p.lbh-u-p.lbh-u-p--default Hackney01
    //-     p.lbh-u-p.lbh-u-p--small 
    //-       | Use your IT login to access 
    //-       a.link(href="https://gsuite.google.co.uk/intl/en_uk/") G Suite
    //-       | , including your email.
    //-     p.lbh-u-p.lbh-u-p--small You will be prompted to change your password.
    //-     p.lbh-u-p.lbh-u-p--small Call 7777 for help with any IT issues.
    //- section
    //-   div.box
    //-     h2.lbh-u-h2 Wi-Fi
    //-     h3.lbh-u-h3 Public:
    //-     p.lbh-u-p.lbh-u-p--default Hackney WIFI for All
    //-     h3.lbh-u-h3 Staff:
    //-     p.lbh-u-p.lbh-u-p--default Hackney Laptop
    //-     p.lbh-u-p.lbh-u-p--small Use the public Wi-Fi until your device is set up for the staff Wi-Fi.
