doctype html
html(lang='en' dir='ltr')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Book a library room
    include components/favicon.pug
    include components/style.pug
  body
    //- include components/nav.pug
    include components/header.pug
    div.govuk-phase-banner
      div.wrapper
        p.govuk-phase-banner__content
            strong.govuk-tag alpha
            span.govuk-phase-banner__text This is a new service – your #[a.govuk-link(href="https://docs.google.com/forms/d/e/1FAIpQLSe3B_mZMryjMJe16Yz2I3KUzyyy6Z4-UWNOI39MsHueBLyAUw/viewform") feedback] will help us to improve it.
    include components/main.pug
    include components/footer.pug
    include components/script.pug
