doctype html
html(lang='en' dir='ltr')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Find a space for hire in Hackney
    include components/favicon.pug
    include components/style.pug
  body
    //- include components/nav.pug
    include components/header.pug
    div.govuk-phase-banner
      div.wrapper
        p.govuk-phase-banner__content
            strong.govuk-tag alpha
            span.govuk-phase-banner__text #[a.govuk-link(href="https://goo.gl/forms/dWrBmRncL111JbEO2" This is a new service - your feedback will help us to improve it.]
    
    include components/button.pug
    div.
    main.main
        article.wrapper
          header
            h1.lbh-u-h1 Find a space for hire in Hackney
          section
            iframe.map(src="https://www.google.com/maps/d/embed?mid=1InQG4S2tPS_9BR0Ya6yccgQ7GzCVBBR2" frameborder="0" style="border:0")
    include components/footer.pug
    include components/script.pug