doctype html
html(lang='en' dir='ltr')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Find a space for hire in Hackney
    include components/favicon.pug
    include components/style.pug
  body
    //- include components/nav.pug
    include components/header.pug
    include components/banner.pug
    main.main
        article.wrapper
          header
            h1.lbh-u-h1 Find a space for hire in Hackney
          section
            iframe.map(src="https://www.google.com/maps/d/embed?mid=1g94Ffza85fBup_xF6x6uLe4je2Y6boK0" frameborder="0" style="border:0")
    include components/footer.pug
    include components/script.pug